
@{
    ViewBag.Title = Web.Resources.HomeTexts.ServerErrorHead;
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>@Web.Resources.HomeTexts.ServerErrorHead</h2>

<p>@Web.Resources.HomeTexts.ServerErrorText</p>



