
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>O Aplikaci</h2>

<div>
    Aplikace PDCA List je na míru vytvořená aplikace pro práci s úkoly podle vzoru PDCA.
</div>

<hr />
<h2>Kontakt</h2>
<p>Jaroslav Langer</p>
<p>+420 608 615 511</p>
<p><a href="mailto:jaroslav.langer@asap-apps.cz" style="color: #3399ff;">jaroslav.langer@asap-apps.cz</a></p>
<p><a href="http://www.asap-apps.cz/" target="_blank" style="color: #3399ff;">www.asap-apps.cz</a></p>

<hr/>
<img src="@Url.Content("~/Images/logo_asap.png")" width="300" height="58" alt="logo ASAP apps" />






